@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mask {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-nav {
  @apply md:rounded-full md:hover:bg-gray-200 md:dark:hover:bg-neutral-700
}

.gradient-text {
  @apply bg-gradient-to-r from-purple-600 to-pink-600 w-fit mask
}

.bg-gradient {
  @apply bg-gradient-to-r from-purple-600 to-pink-600
}